.message-list-container {
  padding: 10px;
  padding-bottom: 70px;
  background-color: #ffffff99;
  height: 63vh;
  border-radius: 15px;
}

.scrollable {
  position: relative;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}