.profileContainer {
    border: 1px #ffffff;
    background-color: #ffffff54;
    color: white
}

.profileHeader {
    display: flex;
    background: #ff000045;
    /* flex-direction: row; */
    /* background-color: red; */
}

.profileHeader div {
    display: flex;
    flex-direction: column;
}

.profileHeader2 {
    display: flex;
    flex-direction: row;
    background: #00f7ff45;
    /* background-color: purple; */
}

.containerLeftColumn {
border: 1px #ffffff;
background: #ffff0065;
}

.containerRightColumn {
    border: 1px #ffffff;
    background: #d000ff65;
}

.h2 {
    display: inline
}

.age {
    display: inline;
    padding: 10px
}

.job {
    display: inline
}

.city {
    display: inline;
    padding: 10px
}