.interest_btn {
  background: #a30e3b;
  border: none;
  border-radius: 16px;
  padding: 0 10px;
  margin: 8px;
}
.interest_btn span:first-child {
  padding-right: 4px;
}
.interest_btn:hover,
.interest_btn:focus {
  background: #a30e3b;
  opacity: 0.8;
}
.interest_btn:disabled {
  background: #a30e3b;
  opacity: 1;
}
