.grid {
  background: rgba(00, 00, 00, 0.7);
  /* height: 80vh; */

  border-radius: 8px;
  /* width: 100%; */
}
*:focus {
  outline: none;
}
h1,
h2,
h3,
h4 {
  padding: 0;
  margin: 0;
}
.btn:focus {
  background: #a30e3b;
  border-color: #a30e3b;
}
.dropdown-item.active {
  background: #a30e3b;
}
.dropdown-item:hover,
.dropdown-item:focus {
  background: #a30e3b;
  opacity: 0.7;
}
.container_signup {
  margin: 1rem 3rem;
  padding: 1rem;
  /* background-color: green; */
  /* width: 80%; */

  height: 80vh;
}
.profile_details {
  /* background: rgba(0, 0, 0, 0.8); */
  /* background-color: red; */
  top: 0;
  padding-top: 9rem;
  /* margin-top: 40px; */
  height: 80vh;
  /* height: fit-content; */
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* margin: 1rem; */
  overflow: scroll;
  /* align-items: center; */
}
.profile_details .grid {
  margin-bottom: 10px;
  /* height: 80%; */
  /* background-color: red; */
}
.signup {
  background: #a30e3b;
  padding: 10px;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 30px;
  border: none;
  width: 50%;
  margin: 0 auto;

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.row_gap {
  height: 80vh;
  /* padding: 1rem; */
}
.grid_images {
  background: rgba(00, 00, 00, 0.7);
  height: 100%;
  margin-left: 10px;

  border-radius: 8px;
}
.input {
  background: #a30e3b;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  padding: 10px;
  width: 100%;
  border: none;
  margin: 16px 0;
}
.form {
  margin: 10px 5px;
}
input::placeholder {
  color: white;
}
input:focus {
  color: white;
  border: none;
  outline: none;
}
.dropdown-toggle:focus,
.dropdown-toggle:hover {
  background: #a30e3b;
  border: none;
  outline: none;
}

input[type="date"] {
  /* background: transparent; */
  color: white;
  /* fill: white; */
}
input[type="date"]::before {
  content: attr(placeholder);
  width: 100%;
}
