.login_container {
  background-color: red;
  height: 100%;
}
.login_form {
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(9px);
  width: 25%;

  padding: 1rem 2rem;
  border-radius: 16px;
  /* border-bottom-left-radius: 16px;
  height: fit-content; */
  display: flex;
  /* top: -50%; */
  flex-direction: column;
  /* margin: 0; */
  /* padding: 0; */
  justify-content: center;
  /* align-items: center; */
  margin: 0 auto;
  position: absolute;
  /* top: 50%; */
  left: 50%;
  /*
  -webkit-transform: translate(-50%, -50%); */
  transform: translate(-50%);
}
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

.login_form span {
  margin: 0;
  align-items: center;
  /* background-color: red; */
  /* display: flex; */
  /* justify-content: ; */
}
.login_form p {
  display: flex;
  font-size: 13px;
  justify-content: center;
  margin-bottom: 2px;
}
.side_text {
  font-weight: 250;
  margin: 4px 0;
  /* font-size: 16px; */
}
.reset_btn {
  border: none;
  background: transparent;
  color: #a30e3b;
}
@keyframes autofill {
  0%,
  100% {
    color: #666;
    background: red;
  }
}
@-webkit-keyframes autofill {
  0%,
  100% {
    color: #666;
    background: red;
  }
}

input:-webkit-autofill {
  -webkit-animation-delay: 1s; /* Safari support - any positive time runs instantly */
  -webkit-animation-name: autofill;
  -webkit-animation-fill-mode: both;
  -webkit-background-color: red !important;
}

input:-webkit-autofill {
  background: none;
  /* -webkit-box-shadow: 0 0 0 50px white inset; */
}
input:autofill {
  background: none;
  /* -webkit-box-shadow: 0 0 0 50px white inset; */
}
.login_input {
  border: none;
  background: none;
  /* backdrop-filter: blur(9px); */
  margin: 2px;
  padding: 16px 0;
  font-size: 16px;
  border-bottom: 1px solid #a30e3b;
}
.login_input::placeholder {
  color: #999999;
  background: transparent;
}
.login_input:focus {
  color: black;
  border-bottom: 2px solid #a30e3b;
  outline: none;
}
/* .reset_btn:focus {
  background: transparent;
} */
.reset_btn:hover,
.reset_btn:focus {
  background: transparent;
  color: #a30e3b;
  opacity: 0.7;
}
.remember_me {
  padding: 10px 0;
  display: flex;

  /* margin: 2px; */
}

input[type="checkbox"] {
  /* border: 2px solid #e67a8d; */
  appearance: none;
  background-color: transparent;
  margin: 0;
  font: inherit;
  color: #e67a8d;
  width: 16px;
  height: 16px;
  border: 0.15em solid #e67a8d;
  border-radius: 0.15em;
  /* margin-right: 2px; */
  margin-right: 5px;
  transform: translateY(-0.075em);
}
input[type="checkbox"]:hover {
  cursor: pointer;
}
input[type="checkbox"]:checked {
  /* border: 2px solid #e67a8d; */
  /* content: "w"; */
  appearance: none;
  /* background-color: #e67a8d; */
  margin: 0;
  font: inherit;
  color: #e67a8d;
  width: 16px;
  height: 16px;
  border: 0.15em solid #e67a8d;
  border-radius: 0.15em;
  /* margin-right: 2px; */
  margin-right: 5px;
  transform: translateY(-0.075em);
}
.signup_btn {
  /* border: 2px solid #e67a8d; */
  background: transparent;
  border-radius: 72px;
  margin: 10px 0 32px 0;
  padding: 16px;
  font-size: 1rem;
  font-weight: bolder;
  border-radius: 83px;
  background: #d3d3d3;
  box-shadow: 5px 5px 10px #a5a5a5, -5px -5px 10px #ffffff;
}
.signup_btn:hover {
  background: #e67a8d;
  cursor: pointer;
  border-radius: 83px;
  background: #d3d3d3;
  box-shadow: inset 5px 5px 10px #a5a5a5, inset -5px -5px 10px #ffffff;
}
.checkbox {
  border: 2px solid #e67a8d;
}
.signin_btn {
  background: #a30e3b;
  padding: 16px;
  color: black;
  font-size: 1rem;
  font-weight: bolder;
  border-radius: 72px;
  border: none;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  margin: 10px 0 8px 0;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  /* border-radius: 83px; */
  /* background: #a30e3b;
  box-shadow: 2px 2px 8px #7f0b2e, -2px -2px 8px #c71148; */
  /* background: linear-gradient(145deg, #930d35, #ae0f3f); */
  /* box-shadow: 2px 2px 6px #7f0b2e, -2px -2px 6px #c71148; */
}
.signin_btn:hover,
.signin_btn:focus {
  /* -webkit-transform: translateY(2px);
  transform: translateY(2px); */
  cursor: pointer;
  color: black;
  /* cursor: pointer;
  color: black;
  background: #a30e3b;
  box-shadow: inset 0px 0px 5px #ffffff;
  outline: none; */
  border-radius: 83px;
  background: #a30e3b;
  box-shadow: inset 8px 8px 16px #7f0b2e, inset -8px -8px 16px #c71148;
}
@media screen and (max-width: 815px) {
  .login_form {
    width: 40%;
  }
}
@media screen and (max-width: 465px) {
  .login_form {
    width: 50%;
  }
}
.login_form a {
  text-decoration: none;
  justify-content: center;
  align-items: center;
  display: flex;
  color: black;
}
