.pageStyles  {
    align-items: 'center';
    background: '#282c34';
    display: 'flex';
    justify-content: 'center';
    min-height: '100vh';
  };

.chatStyles  {
  background-color: #4a0724;
    display: 'flex';
    flex-direction: 'column';
    height: '50vh';
    width: '50%';
  };

.headerStyles  {
    background: '#323742';
    color: 'white';
    font-size: '1.4rem';
    padding: '10px 15px';
  };

.listStyles  {
    align-items: 'flex-start';
    background-color: 'white';
    display: 'flex';
    flex-direction: 'column';
    flex-grow: 1;
    overflow: 'auto';
    padding: '10px';
  };

.messageStyles {
    background-color: '#eee';
    border-radius: '5px';
    color: '#333';
    font-size: '1.1rem';
    margin: '5px';
    padding: '8px 15px';
  };

.footerStyles {
    display: 'flex';
  };

.inputStyles {
    flex-grow: 1;
    font-size: '1.1rem';
    padding: '10px 15px';
  };

.buttonStyles {
    font-size: '1.1rem';
    padding: '10px 15px';
  };