.compose {
  padding: 10px;
  display: flex;
  align-items: center;
  /* background: white; */
  border-top: 1px solid #000000;
  /* position: absolute; */
  width: 174%;
  /* bottom: 0px; */
  /* background-color: #a30e3b99; */
}

/* @supports (backdrop-filter: blur(20px)) {
  .compose {
    border: none;
    background-color: #8c0343;
    backdrop-filter: blur(20px);
  }
} */

.compose-input {
  flex: 1;
  border: none;
  font-size: 14px;
  height: 40px;
  background: none;
}

.compose-input::placeholder {
  opacity: 0.3;
}

.compose .toolbar-button {
  color: black;
  margin-left: 15px;
}

.compose .toolbar-button:hover {
  color: #99999c;
}