.background {
  /* background: rgba(00, 00, 00, 0.7); */
  /* background: red; */
  position: absolute;
  width: 100%;

  /* position: absolute; */
  height: 100%;
  z-index: 1;
}
:root {
  width: 100%;
  /* position: absolute; */
  /* height: 100%; */
}
