.header {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 1rem 2rem;
  align-items: center;
}

.header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
  display: flex;
  bottom: 0px;
  align-items: center;
}
.logo {
  width: 15%;
  /* display: inline-flex; */
  justify-content: center;
  align-items: center;
}
.header li {
  float: left;
  padding-top: 0;
  padding-bottom: 0;
  border-style: none;
  min-width: 80px;
  margin-right: 10px;
  justify-content: center;
}
.header a {
  /* display: block; */
  padding: 8px;
  /* font-family: "Open Sans", sans-serif; */
  font-style: normal;
  font-size: 20px;
  font-weight: 400;
  display: flex;
  text-decoration: none;
  color: white;
}
.header a:hover {
  opacity: 0.6;
}
/* .sign_in {
  border: 1px solid #a30e3b;
  background: #a30e3b;
  border-radius: 10px;
} */
.sign_in{
  border-radius: 15px;
  background: #212121;
  box-shadow: inset 5px -5px 10px #1c1717,
              inset -5px 5px 10px #322929;
}
.sign_in:hover{
  border-radius: 15px;
  background: #212121;
  box-shadow: inset 5px -5px 10px #231d1d,
              inset -5px 5px 10px #2b2323;
}

@media screen and (max-width: 810px) {
  .logo {
    width: 45%;
    display: flex;
    justify-content: center;
    align-self: center;
  }
  .header {
    display: flex;
    flex-direction: column;
    /* width: 100%; */
  }
  .header span {
    margin: 20px;
  }
  .header a {
    font-size: 15px;
  }
}
@media screen and (max-width: 400px) {
  .header {
    display: flex;
    justify-content: space-between;
    text-align: center;
    width: 100%;
    padding-bottom: 1rem;
    align-items: center;
  }
  .header ul {
    padding-top: 15px;
  }
  .header a {
    font-size: 15px;
  }
}
