.landingContainer{
    background-color: #333333;
    height: auto;
    border-radius: 20px;
    color: rgb(223, 204, 204);
}
.matchBtn{
    border: 2px solid #333333;
    color: rgb(223, 204, 204);
    margin-top: 2em;
    border-radius: 50px;
    background: #333333;
    box-shadow:  -7px -7px 14px #151515,
                 7px 7px 14px #515151;
}
.matchBtn:hover{
    border: 2px solid #515151;
    border-radius: 50px;
    background: #333333;
    box-shadow:  -7px -7px 14px #2d2d2d,
                 7px 7px 14px #393939,
                inset -2px -2px 5px #2d2d2d,
                inset -4px -4px 8px #393939;
}
.tag{
    text-align: center;
}

.col{
    margin-top: 5em;
    margin-bottom: 5em;
}
.coverImg{
    object-fit: contain;
    width: 90%;
    border-radius: 10px;
    margin-left: 1em;
    margin-right: 1em;
}