.row {
  margin-left: 0;
}
.grid_swipe {
  background: rgba(00, 00, 00, 0.7);
  /* height: 80vh; */
  /* margin: 0 1rem; */
  padding: 1rem;
  border-radius: 8px;
  /* display: flex;
  justify-content: center; */
  /* position: relative; */
  /* width: 90%; */
  margin: 0 auto;
}
.userImage {
  object-fit: fill;
  border-radius: 0.75rem;
}
/* if no image is present going ot render a blank block instead of the icon for file not found */
.userImage:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  background-color: orange;
  border-radius: 0.75rem;
  /* height: 100%;
  max-width: 40%; */
}
.userImage:after {
  content: "No Image for  " attr(alt);
  display: block;
  position: absolute;
  z-index: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card {
  position: relative;
  background-color: #fff;
  width: 500px;
  box-shadow: 0 0 60px 0 rgb(0 0 0 / 30%);
  border-radius: 0.75rem;
  background-size: cover;
  background-position: 50%;
  white-space: nowrap;
}
.cards_section {
  /* background: blue; */
  width: 100%;
  max-height: 80vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.cardContainer {
  position: relative;
  width: 100%;
  height: 700px;
  /* background-color: red; */
  display: flex;
  align-items: center;
  /* margin: 0 auto; */
  /* justify-content: center; */
}
.card {
  height: 100%;
  max-width: 50%;
  padding: 1rem;
}

.cardContainer {
  /* max-width: 30%; */
  position: relative;
  display: flex;

  /* height: 600px; */
}
.card:hover {
  cursor: pointer;
}
.swipe {
  position: absolute;
  /* background: blue; */
  width: 100%;
  display: flex;
  justify-content: center;
}
.interest_section {
  display: inline-block;
  overflow: hidden;
  overflow-x: scroll;
}
.interest_section::-webkit-scrollbar {
  display: none;
}

/* .buttons {
} */
.buttons .button {
  display: flex;
  margin: 0;
  /* box-sizing: border-box; */
  border: none;
  border-radius: 50%;
  background: #111111;
  border: 6px solid #ae303b;
  /* box-shadow: 8px 8px 16px #000000, -4px -4px 12px #ae303b;
  border-radius: 50%; */
  width: 75px;
  height: 75px;
  align-items: center;
  margin: 0 1rem;
  display: flex;
  color: #ae303b;
  justify-content: center;

  /* border: 2px solid #ff5e51; */
}
.buttons .button:hover {
  box-shadow: inset 6px 6px 12px rgba(255, 255, 255, 0.1),
    inset -6px -6px 12px rgba(163, 14, 59, 0.3);
}
@media screen and (min-width: 800px) {
  .card {
    max-width: 100%;
  }
}
@media screen and (max-width: 800px) {
  .card {
    max-width: 100%;
  }
}
@media screen and (max-width: 550px) {
  .card {
    max-width: 100%;
  }
}
@media screen and (max-width: 420px) {
  .card {
    max-width: 100%;
  }
}