.row {
  margin-left: 0;
}
.grid_swipe {
  background: rgba(00, 00, 00, 0.7);
  /* height: 80vh; */
  /* margin: 0 1rem; */
  padding: 1rem;
  border-radius: 8px;
  /* display: flex;
  justify-content: center; */
  /* position: relative; */

  /* width: 95%; */
  margin: 0 auto;
  margin: 0 1rem;
}
.userImage {
  object-fit: cover;
  height: 25rem;
  border-radius: 0.75rem;
}
/* if no image is present going ot render a blank block instead of the icon for file not found */
.userImage:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  background-color: orange;
  border-radius: 0.75rem;
  /* height: 100%;
  max-width: 40%; */
}
.userImage:after {
  content: "No Image for  " attr(alt);
  display: block;
  position: absolute;
  z-index: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card {
  position: relative;
  background-color: #fff;
  width: 500px;
  box-shadow: 0 0 60px 0 rgb(0 0 0 / 30%);
  border-radius: 0.75rem;
  background-size: cover;
  background-position: 50%;
  white-space: nowrap;
  height: 100%;
  max-width: 50%;
  padding: 1rem;
  margin: 1rem;
}

.cardContainer {
  position: relative;
  width: 100%;
  height: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cardContainer {
  position: relative;
  display: flex;
}
.card:hover {
  cursor: pointer;
}
.swipe {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
}
.interest_section {
  display: inline-block;
  overflow: hidden;
  overflow-x: scroll;
}
.interest_section::-webkit-scrollbar {
  display: none;
}

.buttons_swipe {
  display: flex;
  align-items: center;
  justify-content: center;
}
.buttons_swipe .button {
  display: flex;
  margin: 0;
  border: none;
  border-radius: 50%;
  background: #111111;
  border: 6px solid #ae303b;
  width: 75px;
  height: 75px;
  align-items: center;
  margin: 0 1rem;
  display: flex;
  color: #ae303b;
  justify-content: center;
}

.buttons_swipe .button:hover {
  box-shadow: inset 6px 6px 12px rgba(255, 255, 255, 0.1),
    inset -6px -6px 12px rgba(163, 14, 59, 0.3);
}
.name_location {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
@media screen and (min-width: 800px) {
  .card {
    max-width: 100%;
  }
}
@media screen and (max-width: 800px) {
  .card {
    max-width: 100%;
  }
}
@media screen and (max-width: 550px) {
  .card {
    max-width: 100%;
    /* height: 600px; */
  }
  .cardContainer {
    /* height: 400px; */
  }
  .name_location {
    flex-direction: column;
  }
}
@media screen and (max-width: 420px) {
  .card {
    max-width: 100%;
  }
}
